{% include 'navbar.html' %}

<div class="container mt-5">
    <div class="jumbotron text-center" style="background-color: #2acb75; color: white;">
        <h1 class="display-4">Welcome to Fictious Startup</h1>
        <p class="lead">This application is part of the <a href="https://cloudtalents.io" target="_blank">AWS DevOps Bootcamp offered by CloudTalents</a>.</p>
        <hr class="my-4" style="border-color: white;">
        <p>It was developed using Django and deployed using Packer, Terraform and GitHub.</p>
        <p>You can give it a try by signing up below!</p>
        <a class="btn btn-light btn-lg" href="{% url 'register' %}" role="button">Sign Up</a>
        <a class="btn btn-outline-light btn-lg" href="{% url 'login' %}" role="button">Login</a>
    </div>
</div>